{% extends 'base.html' %} 

{% block title %}Edit Post{% endblock %} 

{% block content %}

<h2>Edit Post</h2>
<div class="posts">
<form method="POST" action="/posts/{{post.id}}/edit">
    <p>Title:</p>
    <input id="title" name="title" value="{{post.title}}">
    <br>
    <p>Content:</p>
    <textarea id="content" name="content">{{post.content}}</textarea>
    <br>
    <br>
    <a href="/"></a><button type="submit">Update</button>
    <a href="/"><button>Back to Recent Posts</button></a>
    <br>
</form>
</div>

{% endblock %} 